.DS_Store
dist/
imports/*
!imports/__init__.py
.terraform
cdktf.out
cdktf.log
*terraform.*.tfstate*
Pipfile.lock
__pycache__
venv
.venv
ansible/roles/
ansible/collections/
/default.yml
/stacks.*.yml
/stacks.yml
/*.stacks.yml
.vscode/
.python-version